body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    font-family: Arial, sans-serif;
}

#MyClockDisplay {
    color: white;
    font-size: 70px;
    font-weight: bold;

    padding: 30px 50px;
    border-radius: 15px;
}